/* -------------------------------------- *\
    Variables file
\* -------------------------------------- */

// Primary Colors
@green: #536f0c;
@brown: #6e492a;

// Secondary
@lightbrown: #f3eee5;
@darkbrown: #e8e2d5;


// Roboto Font
@font-face {
  font-family: 'roboto_slabthin';
  src: url('../fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.eot');
  src: url('../fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.woff') format('woff'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.ttf') format('truetype'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_slabregular';
  src: url('../fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.eot');
  src: url('../fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.woff') format('woff'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.ttf') format('truetype'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-regular-webfont.svg#roboto_slabthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_slabbold';
  src: url('../fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.eot');
  src: url('../fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.woff') format('woff'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.ttf') format('truetype'),
       url('../fonts/web-fonts/robotoslab/RobotoSlab-bold-webfont.svg#roboto_slabthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-roboto-thin{font-family: 'roboto_slabthin';}
.font-roboto-regular{font-family: 'roboto_slabregular';}
.font-roboto-bold{font-family: 'roboto_slabbold';}
.font-arial{font-family: 'arial'}


.cart{background:url(images/icon-cart.png) no-repeat center center;height:19px;width: 24px;}

.searchform-wrapper input[type=text]{
  border:1px solid @brown;
  .font-arial; 
  font-size:14px;
  line-height: 18px;
  padding: 5px;
  width: 100%;
  float:right;
}

// Gradients
.green-gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#789826+0,526e0b+97 */
background: #789826; /* Old browsers */
background: -moz-linear-gradient(top,  #789826 0%, #526e0b 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#789826), color-stop(97%,#526e0b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #789826 0%,#526e0b 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #789826 0%,#526e0b 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #789826 0%,#526e0b 97%); /* IE10+ */
background: linear-gradient(to bottom,  #789826 0%,#526e0b 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#789826', endColorstr='#526e0b',GradientType=0 ); /* IE6-9 */
}


